[Unit]
Description=Systems monitor - script that collects hosts systems metrics and logs exceeded thresholds
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/python3 /opt/sysmon/systems_monitor.py
Restart=on-failure
RestartSec=5
Environment=SYSMON_LOG_DIR=/var/log/sysmon
User=sysmon

[Install]
WantedBy=multi-user.target
